<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMARTCARD</title>
  <link rel="icon" type="image/png" href="/image/favicon.ico" />

  <script src="/creativeScroll/libs/gsap/gsap.min.js" defer></script>
  <script src="/creativeScroll/libs/gsap/ScrollTrigger.min.js" defer></script>
  <script src="/creativeScroll/libs/gsap/ScrollSmoother.min.js" defer></script>

  <link rel="stylesheet" href="/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <script src="/css/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>	
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="/creativeScroll/css/creativeScroll.css" />
  <script src="/js/jquery-3.6.4.js"></script>
  <script src="/js/HTMLImporter.js"></script>
  <script src="/js/language.js"></script>
  <script src="/creativeScroll/js/creativeScroll.js" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/parallax-scrolling/css/parallax-scrolling.css" />
  <script src="/parallax-scrolling/libs/gsap/gsap.min.js" defer></script>
  <script src="/parallax-scrolling/libs/gsap/ScrollTrigger.min.js" defer></script>
  <script src="/parallax-scrolling/libs/gsap/ScrollSmoother.min.js" defer></script>
  <script src="/parallax-scrolling/js/parallax-scrolling.js" defer></script>

</head>

<body>

	<!-- main -->
	<div class="wrapper" id="wrapper">
		<!-- menu -->
		<script>HTMLImporter.import("menu.html");</script>

		<!-- content -->
		<div class="content">

			<!-- home -->
			<header class="hero-section home">
				<img data-speed="0.6" class="hero" src="/image/index/logo.png" alt="Alt" />
				<div data-speed="0.6" class="container-1">
					<p class="typed">Digital card visit</p>
				</div>
				<div data-speed="0.6" class="container-2">
					<p class="typed">Smarter - Cost Saving</p>
				</div>
				<div data-speed="0.6" class="container-3">
					<p class="typed">The future of traditional paper card</p>
				</div>
				<div class="container-content">
					<div data-speed="0.75" class="main-header">
						<!-- <h1 class="main-title">smart card</h1> -->
						<!-- <img class="home-image" src="/image/index/home-1.png" alt=""> -->
						<span class="portfolio-item d-block portfolio-item1">
							<div class="foto">
								<div>
									<img class="ImgThumbnail" src="/image/index/p1.jpg" alt="projectImages" height="230" />
									<span class="project-date">2023</span>
									<br />
									<p class="project-title-settings mt-3">
										3D OBJECT VIEWER
									</p>
								</div>
							</div>
						</span>
						<span class="portfolio-item d-block portfolio-item2">
							<div class="foto">
								<div>
									<img class="ImgThumbnail" src="/image/index/p2.jpg" alt="projectImages" height="230" />
									<span class="project-date">2023</span>
									<br />
									<p class="project-title-settings mt-3">
										PHOTOGRAPHY
									</p>
								</div>
							</div>
						</span>
						<span class="portfolio-item d-block portfolio-item3">
							<div class="foto">
								<div>
									<img class="ImgThumbnail" src="/image/index/p3.jpg" alt="projectImages" height="230" />
									<span class="project-date">2023</span>
									<br />
									<p class="project-title-settings mt-3">
										3D OBJECT VIEWER
									</p>
								</div>
							</div>
						</span>
						<button class="button-explore">Explore now</button>
					</div>
				</div>
			</header>
			<div class="modal">
				<span class="close">×</span>
				<img class="modalImage" id="img01" />
			</div>
			<script>
				$(".button-explore").click(function name(params) {
					$('html').animate({
						scrollTop: $(".gallery__item").offset().top
					}, 600);
				})

				// show modal when user click on image
				var modalEle = document.querySelector(".modal");
				var modalImage = document.querySelector(".modalImage");
				Array.from(document.querySelectorAll(".ImgThumbnail")).forEach(item => {
					item.addEventListener("click", event => {
						modalEle.style.display = "block";
						modalImage.src = event.target.src;
					});
				});
				document.querySelector(".close").addEventListener("click", () => {
				modalEle.style.display = "none";
				});
			</script>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery">
						<div data-speed="0.9" class="gallery__left">
							<img class="gallery__item" src="/image/index/work/creativeScroll-1.jpg" alt="Alt" />
							<img class="gallery__item" src="/image/index/work/creativeScroll-2.jpg" alt="Alt" />

							<div class="text-block gallery__item">
								<h2 class="text-block__h">
									Creative floating scroll with amazing parallax effect
								</h2>
								<p class="text-block__p">
									Chào mừng bạn đến với chúng tôi. Hi vọng bạn có một trải nghiệm tuyệt vời ở đây.
								</p>
							</div>

							<img class="gallery__item" src="/image/index/work/creativeScroll-6.jpg" alt="Alt" />
						</div>

						<div data-speed="1.1" class="gallery__right">
							<div class="text-block gallery__item">
								<h2 class="text-block__h">
									Creative floating scroll with amazing parallax effect
								</h2>
								<p class="text-block__p">
									Chào mừng bạn đến với chúng tôi. Hi vọng bạn có một trải nghiệm tuyệt vời ở đây.
								</p>
							</div>

							<img class="gallery__item" src="/image/index/work/creativeScroll-4.jpg" alt="Alt" />
							<img class="gallery__item" src="/image/index/work/creativeScroll-5.jpg" alt="Alt" />
							<img class="gallery__item" src="/image/index/work/creativeScroll-3.jpg" alt="Alt" />
						</div>
					</main>
				</div>
			</div>

			<!-- about -->
			<h2 class="title-header about">VỀ SMARTCARD</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery content-wrap">
						<div data-speed="1.05" class="gallery__left content-left">
							<div class="contactus-content-item gallery__item content-left-item" style="max-height: 200px;">
								<p><span style="font-weight: 800;">SMARTCARD</span> là loại thẻ thông minh bên trong có tích hợp chip NFC - một loại chip hỗ trợ cho các thiết bị giao tiếp gần, có khả năng lưu trữ và xử lý thông tin.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item" style="margin-bottom: 30px;">
								<img src="/image/index/about-2.jpg" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-left-item">
								<p>Vói kích thước nhỏ gọn gần bằng chiếc thẻ tín dụng, bạn có thể mang theo và sử dụng <span style="font-weight: 800;">SMARTCARD</span> ở bất kỳ đâu.</p>
							</div>
						</div>
						<div data-speed="1.1" class="gallery__right content-right">
							<div class="contactus-content-item gallery__item content-right-item">
								<img src="/image/index/about-1.jpg" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-right-item" style="margin-bottom: 30px;">
								<p><span style="font-weight: 800;">SMARTCARD</span> đóng vai trò truyền thông tin/dữ liệu trong thẻ tới thiết bị nhận chỉ bằng một thao tác giao tiếp gần. Từ đó, người sở hữu thẻ có thể dễ dàng chia sẻ thông tin của mình cho người nhận.</p>
							</div>
							<div class="contactus-content-item gallery__item content-right-item">
								<img src="/image/index/about-3.jpg" alt="" style="margin-bottom: 0;">
							</div>
						</div>
					</main>
				</div>
			</div>


			<!-- products -->
			<h2 class="title-header products">SẢN PHẨM</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="content-wrap-reviews">
						<div data-speed="1" class="gallery__left">
							<div class="gallery__item gallery__item-reviews">
								<div class="filters-container" id="menu">
									<ul class="filters-wrap filters col-lg-12 no-padding">
										<li class="active" data-filter="*">All Menu</li>
										<li data-filter=".standard" class="">Standard</li>
										<li data-filter=".premium" class="">Premium</li>
										<li data-filter=".ultimate" class="">Ultimate</li>
										<li data-filter=".sticker" class="">Sticker</li>
									</ul>
									<div class="filters-content">
										<div class="row grid">
											<div class="col-md-6 all standard" style="position: absolute; left: 0%; top: 0px;">
												<div class="single-menu">
													<span class="portfolio-item d-block portfolio-item1">
														<div class="foto">
															<div>
																<img src="/image/index/p1.jpg" alt="projectImages" height="230" />
																<span class="project-date">2023</span>
																<br />
																<p class="project-title-settings mt-3">
																	STANDARD BLACK CARD
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all premium" style="position: absolute; left: 50%; top: 0px;">
												<div class="single-menu">
													<span class="portfolio-item d-block portfolio-item2">
														<div class="foto">
															<div>
																<img src="/image/index/p1.jpg" alt="projectImages" height="230" />
																<span class="project-date">2023</span>
																<br />
																<p class="project-title-settings mt-3">
																	PREMIUM BLACK CARD
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all ultimate" style="position: absolute; left: 0%; top: 185px;">
												<div class="single-menu">
													<span class="portfolio-item d-block portfolio-item3">
														<div class="foto">
															<div>
																<img src="/image/index/p1.jpg" alt="projectImages" height="230" />
																<span class="project-date">2023</span>
																<br />
																<p class="project-title-settings mt-3">
																	ULTIMATE BLACK CARD
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all standard" style="position: absolute; left: 50%; top: 185px;">
												<div class="single-menu">
													<span class="portfolio-item d-block portfolio-item1">
														<div class="foto">
															<div>
																<img src="/image/index/p1.jpg" alt="projectImages" height="230" />
																<span class="project-date">2023</span>
																<br />
																<p class="project-title-settings mt-3">
																	STANDARD WHITE CARD
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all sticker" style="position: absolute; left: 0%; top: 370px;">
												<div class="single-menu">
													<span class="portfolio-item d-block portfolio-item2">
														<div class="foto">
															<div>
																<img src="/image/index/p1.jpg" alt="projectImages" height="230" />
																<span class="project-date">2023</span>
																<br />
																<p class="project-title-settings mt-3">
																	BLACK STICKER
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all sticker" style="position: absolute; left: 50%; top: 370px;">
												<div class="single-menu">
													<span class="portfolio-item d-block portfolio-item3">
														<div class="foto">
															<div>
																<img src="/image/index/p1.jpg" alt="projectImages" height="230" />
																<span class="project-date">2023</span>
																<br />
																<p class="project-title-settings mt-3">
																	WHITE STICKER
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
				</div>
			</div>
			<script src="/js/isotope.pkgd.min.js"></script>
			<script>
				$('.filters li').click(function () {
					$('.filters li').removeClass('active');
					$(this).addClass('active');
					var data = $(this).attr('data-filter');
					$grid.isotope({
						filter: data
					})
				});
	
				if (document.getElementById("menu") || document.getElementById("gallery")) {
					var $grid = $(".grid").isotope({
						itemSelector: ".all",
						percentPosition: true,
						masonry: {
							columnWidth: ".all"
						}
					})
				};
			</script>


			<!-- userguides -->
			<h2 class="title-header userguides">USERGUIDES</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery content-wrap">
						<div data-speed="1" class="gallery__left content-left content-userguides">
							<div class="contactus-content-item gallery__item content-left-item" style="margin-bottom: 60px;">
								<p lang="en"><span>Step 1:</span> Place the card near the NFC reader region on your phone or NFC-enabled device. Your device will automatically connect and redirect to the registration page. (*)</p>
								<p lang="vi"><span>Bước 1:</span> Đặt thẻ gần vùng đọc NFC trên điện thoại hoặc thiết bị hỗ trợ NFC của bạn. Thiết bị của bạn sẽ tự động kết nối và chuyển hướng đến trang đăng ký. (*)</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item" style="margin-bottom: 20px;">
								<p lang="en"><span>Step 2:</span> Register an account. After successfully registering, you will be redirected to the login page.</p>
								<p lang="vi"><span>Bước 2:</span> Đăng ký tài khoản. Sau khi đăng ký thành công, bạn sẽ được chuyển hướng đến trang đăng nhập.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item" style="margin-bottom: 40px;">
								<img lang="en" src="/image/index/userguides-en-1.JPG" alt="">
								<img lang="vi" src="/image/index/userguides-vi-1.JPG" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-left-item" style="margin-bottom: 20px;">
								<p lang="en"><span>Step 3:</span> Login.</p>
								<p lang="vi"><span>Bước 3:</span> Đăng nhập.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item" style="margin-bottom: 30px;">
								<img lang="en" src="/image/index/userguides-en-2.JPG" alt="">
								<img lang="vi" src="/image/index/userguides-vi-2.JPG" alt="">
							</div>
						</div>
						<div data-speed="1" class="gallery__right content-right content-userguides"  style="display: block;">
							<div class="contactus-content-item gallery__item content-right-item"  style="margin-bottom: -170px;">
								<p lang="en"><span>Step 4:</span> After successfully logging in to the User Control page, you can set up card information.</p>
								<p lang="vi"><span>Bước 4:</span> Đăng nhập thành công vào trang User Control, bạn có thể thiết lập các thông tin của thẻ.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item" style="margin-bottom: 40px;">
								<img lang="en" src="/image/index/userguides-en-3.JPG" alt="">
								<img lang="vi" src="/image/index/userguides-vi-3.JPG" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-right-item">
								<p lang="en"><span>Step 5:</span> Activation of the card is successfully completed.</p>
								<p lang="vi"><span>Bước 5:</span> Hoàn tất kích hoạt thẻ thành công.</p>
							</div>
							<div class="contactus-content-item gallery__item content-right-item">
								<p lang="en"><span>(*)</span>  How to check if your phone supports NFC? Go to <span>Settings</span> > Select <span>Connections</span> > If you see <span>NFC (or NFC and payment)</span>, then your phone supports NFC.</p>
								<p lang="vi"><span>(*)</span>  Cách kiểm tra điện thoại có hỗ trợ NFC hay không? Vào <span>Cài đặt</span> > Chọn <span>Kết nối</span> > Nếu thấy có <span>NFC (hoặc NFC và thanh toán)</span> thì điện thoại bạn có hỗ trợ NFC.</p>
								<p lang="en">The phone models that support NFC are:</p>
								<p lang="vi">Các dòng điện thoại hỗ trợ NFC:</p>
								<p lang="en">  &nbsp;- For iPhone: All iPhone models starting from iPhone 6 are supported with NFC.</p>
								<p lang="vi">  &nbsp;- Đối với iPhone: Các mẫu iPhone kể từ iPhone 6 đều được hỗ trợ NFC.</p>
								<p lang="en">  &nbsp;- For Android: NFC is not compatible with phones running Android 3 operating system.</p>
								<p lang="vi">  &nbsp;- Đối với Android:  NFC không tương thích trên điện thoại chạy hệ điều hành Android 3.</p>
							</div>
						</div>
					</main>
				</div>
			</div>

			<!-- reviews -->
			<h2 class="title-header reviews">REVIEWS</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="content-wrap-reviews">
						<!-- <div data-speed="1" class="gallery__left content-left">
							<div class="contactus-content-item gallery__item content-left-item">
								<p>SMARTCARD is an intelligent card that can help you to share information related in social media personal page, phone... to everyone just by tapping.</p>
							</div>
							
						</div>
						<div data-speed="1" class="gallery__right content-right">
							<div class="contactus-content-item gallery__item content-right-item">
								<p>SMARTCARD is an intelligent card that can help you to share information related in social media personal page, phone... to everyone just by tapping.</p>
							</div>
						</div> -->
						<div data-speed="1" class="gallery__left">
							<div class="gallery__item gallery__item-reviews">
								<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
									<div class="carousel-inner">
									  <div class="carousel-item active">
										<div class="carousel-item-wrap">
											<div class="item">
												<div>
													<img src="/image/index/reviews-4.png" alt="">
							
												</div>
												<p>Great to deal with in setting up my business license along with ongoing business questions and accounting. Highly recommend them to anyone looking to operate a business in Vietnam.</p>
												<h6>Aaron Moore</h6>
												<p>Founder of AGile Farms</p>
											</div>
											<div class="item">
												<div>
													<img src="/image/index/reviews-5.png" alt="">
													
												</div>
												<p>Everything from H.S is OK.
													<br>See you again.
												</p>
												<h6>Chioma Okeke</h6>
												<p>Customer form Graz</p>
											</div>
											<div class="item" id="reviews-res">
												<div>
													<img src="/image/index/reviews-6.png" alt="">
													
												</div>
												<p>Good service.
													<br>Hope to see you again.</p>
												<h6>Minh Quan Nguyen</h6>
												<p>Senior Software Engineer in Inspire Ventures</p>
											</div>
										</div>
									  </div>
									  <div class="carousel-item">
										<div class="carousel-item-wrap">
											<div class="item">
												<div>
													<img src="/image/index/reviews-1.svg" alt="">
											
												</div>
												<p>Enthusiastic advice, low cost, diverse services. H.S is the best choice for who want to start business.</p>
												<h6>Peony Osh</h6>
												<p>Customer from Singapore</p>
											</div>
											<div class="item">
												<div>
													<img src="/image/index/reviews-2.svg" alt="">
												
												</div>
												<p>Reliable and efficient service from "H.S". Do not hesitate to entrust them with the establishment of your company or further support of your business in Vietnam.</p>
												<h6>Lucy Brod</h6>
												<p>Customer</p>
											</div>
											<div class="item" id="reviews-res">
												<div>
													<img src="/image/index/reviews-3.png" alt="">
											
												</div>
												<p>Working with H.S was a pleasure. Not only did they complete the job as promised within the exact time, but they also went above and beyond to make sure that my needs were met even after the contract was fulfilled.</p>
												<h6>Nicholas Trampe</h6>
												<p>Customer</p>
											</div>
										</div>
									  </div>
									</div>
									<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
									  <span class="carousel-control-prev-icon" aria-hidden="true"><img style="width: 50px;" src="/image/index/arrowleft.svg" alt=""></span>
									  <span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"><img style="width: 50px;" src="/image/index/arrowright.svg" alt=""></span>
									  <span class="visually-hidden">Next</span>
									</button>
								  </div>
							</div>
						</div>
					</main>
				</div>
			</div>
		

			<!-- contact -->
			<h2 class="title-header contact">CONTACT</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery content-wrap">
						<div data-speed="1" class="gallery__left content-left">
							<div class="contactus-content-item gallery__item content-left-item">
								<h2>Contact information</h2>
								<p>We love to hear from you on our customer service, merchandise, website or any topics you want
									to share
									with us. Your comments and suggestions will be appreciated. Please refer to the information below:</p>
								<p>smartcard.com</p>
								<p>Mobile/Zalo: 0937 43 93 40</p>
								<p>contact@smartcard.com</p>
								<p>Everyday 8:00-19:00</p>
							</div>
						</div>

						<div data-speed="1" class="gallery__right content-right">
							<div class="contactus-content-item gallery__item content-right-item">
								<h2>Drop a question</h2>
								<div class="input-name-mail">
									<input placeholder="Your name"></input>
									<input placeholder="Your mail"></input>
								</div>
								<input type="text" placeholder="Phone number">
								<textarea name="" id="" cols="30" rows="4" placeholder="What's on your mind?"></textarea>
								<button>Submit</button>
							</div>
						</div>
					</main>
				</div>
			</div>

			<!-- footer -->
			<div class="footer">
				<img src="/image/index/creativeScroll-hero.png" alt="">
			</div>
		</div>

		
		<!-- scrolltop -->
		<div id="scrolltop">
			<img src="/image/index/totop.png" alt="">
		</div>
	
	</div>


	<!-- main-responsive -->
	<div class="wrapper" id="wrapper-responsive">
		<div class="content">
			<header class="main-header-responsive">
				<div class="layers">
					<div class="layer__header">
						<div class="layers__caption">Welcome to Parallax</div>
						<div class="layers__title">Fairy Forest</div>
					</div>
					<div class="layer layers__base" style="background-image: url('/parallax-scrolling/img/layer-base2.png');"></div>
					<!-- <div class="layer layers__middle" style="background-image: url(/parallax-scrolling/img/layer-middle2.png);"></div> -->
					<div class="layer layers__front" style="background-image: url('/parallax-scrolling/img/layer-front2.png');"></div>
				</div>
			</header>

			<article class="main-article" style="background-image: url('/parallax-scrolling/img/dungeon2.jpg')">
				<div class="main-article__content">
					<h2 class="main-article__header">To be continued</h2>
					<p class="main-article__paragraph">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
						error provident dignissimos facere. Repellendus tempore autem qui!
						Quia magnam tempora esse id necessitatibus corrupti mollitia
						expedita sapiente cum rerum, ut dicta laboriosam!
					</p>
				</div>
				<div class="copy">© WebDesign Master</div>
			</article>
		</div>
	</div>
	

	<!-- #scroll to top -->
	<script>
        $("#scrolltop").click(function name(params) {
            $("html").animate({scrollTop:0});
        })
        window.onscroll=function(){scrolltop()};
        function scrolltop(){
            if ((document.body.scrollTop>1000) || (document.documentElement.scrollTop>1000)){
            $("#scrolltop").addClass("scrolltop-show");
            $("nav").addClass('nav-sticky');
            }
            else {
                $("#scrolltop").removeClass("scrolltop-show");
                $("nav").removeClass('nav-sticky');
            };
        }
		// $("p").each( function () {
		// 	var $this = $(this);
		// 	if (parseInt($this.css("fontSize")) < 20) {
		// 		$this.css({ "font-size": "20px" });   
		// 	}
		// });
    </script>
</body>

</html>