<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="image/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="css\bootstrap-5.0.2-dist\css/bootstrap.min.css">
	<script src="css\bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="font/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="font/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/userinfo.css">
	<link rel="stylesheet" href="css/avatar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="js/jquery-3.6.4.js"></script>
	<script src="js/userinfo.js"></script>
	<script src="js/avatar.js"></script>
</head>
<body style="background-image: url('image/signin/bg-01.jpg');">

	<!-- nav -->
	<nav>
		<i onclick="window.location.href='/signin'" class="fas fa-sign-out-alt"></i>
	</nav>

	<!-- content -->
	<div class="content">
		<div class="limiter">
			<div class="container-login100" >
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<form class="login100-form validate-form" onsubmit="submit_form(event,this)">
						<div class="avatar-upload">
							<img src="image/userinfo/avatar-1.png">
						</div>
						<div class="name">
							<input id="name" readonly="true" value="@yourname" maxlength="30" onfocusout="inputnamefocusout(this)"></input><i class="fas fa-pencil" onclick="editname(this)"></i>
						</div>
						<div class="container-login100-form-btn" id="addlink-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<div class="login100-form-btn">
									<i class="far fa-plus"></i>Add link
								</div>
							</div>
						</div>
						<div class="link-option">
							<a onclick="addlinkfunction(this)">Facebook</a>
							<a onclick="addlinkfunction(this)">Youtube</a>
							<a onclick="addlinkfunction(this)">Instagram</a>
							<a onclick="addlinkfunction(this)">TikTok</a>
							<a onclick="addlinkfunction(this)">Zalo</a>
							<a onclick="addlinkfunction(this)">Telegram</a>
							<a onclick="addlinkfunction(this)">Skype</a>
							<a onclick="addlinkfunction(this)">Twitter</a>
							<a onclick="addlinkfunction(this)">Pinterest</a>
							<a onclick="addlinkfunction(this)">Momo</a>
							<a onclick="addlinkfunction(this)">Gmail</a>
							<a onclick="addlinkfunction(this)">LinkedIn</a>
							<a onclick="addlinkfunction(this)">WhatsApp</a>
						</div>
						<div id="link-area"></div>
						<!-- <div id="container-showlink">
							<div class="link">
								<div class="linklogo">
									<img src="image/userinfo/${a.innerText.toLowerCase()}.png">
								</div>
								<div class="linkinput">
									<input readonly="true" value="${a.innerText} - ${name.value}" maxlength="40" size="22" onfocusout="inputtitlefocusout(this)"></input>
									<i class="fas fa-pencil" onclick="edit(this)"></i><br>
									<input readonly="true" value="http://${a.innerText.toLowerCase()}.com/yourname" size="30" onfocusout="inputlinkfocusout(this)"></input>
									<i class="fas fa-pencil" onclick="edit(this)"></i>
								</div>
								<div class="linktrash">
									<i class="fas fa-trash" onclick="clicktrash(this)"></i>
								</div>
								<div class="yesno">
									<i class="fas fa-check" id="yes" onclick="removelink(this)"></i>
									<i class="fas fa-times" id="no" onclick="clickno(this)"></i>
								</div>
							</div>
						</div> -->
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn" type="submit">
									Save
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
	 
		</div>
		<script>
			new window.AvatarUpload({
				el: document.querySelector('.avatar-upload'),
				uploadUrl: '',
				uploadData: {
					foo: 'bar',
					bar: 'baz'
				},
				pretendUpload: true
			})
		</script>
	
		<div class="show">
			<div class="wrap">
				<div class="avatar">
					<img id="show-avatar" src="image/userinfo/avatar-1.png">
				</div>
				<div class="name">
					<p id="name-show">@yourname</p>
				</div>
				<div id="link-container">
				</div>
				<!-- <a class="link" href='#' target="_blank">
					<img src="image/userinfo/facebook.png" alt="">
					<p>${name.value}</p>
				</a> -->
			</div>
		</div>
	</div>

	<!-- footer -->
	<footer>
		<img src="image/logo.png">
	</footer>
</body>
</html>
