* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	/* --color-header: #f4efec;
	--color-text: #cdc6c3; */
	--gallery-gap: calc(var(--index) * 7.5)
}

.container-content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(../../image/index/bg-01.jpg);
	background-size: 50px;
	color: #fafafa;
	overflow-x: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero {
	/* width: calc(var(--index) * 36); */
	width: calc(var(--index) * 32);
	position: absolute;
	/* left: 47vw; */
	left: 45vw;
	/* top: 22vh; */
	top: 30vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container-content {
	/* padding: 0 7vw; */
	padding: 0 5vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 35vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}

.gallery__left {
	/* margin-top: calc(var(--gallery-gap) * 1.75); */
	margin-top: calc(var(--gallery-gap) * 1.50);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	/* color: var(--color-text); */
	position: relative;
}
.text-block__h {
	/* color: var(--color-header); */
	margin-bottom: 1.5rem;
	font-family: "AdamGorry";
	/* font-size: 25px; */
	font-size: calc(var(--index) * 1.1);
	line-height: 1.75;
	font-weight: 600;
	letter-spacing: 1px;
}
.text-block__p {
	line-height: 1.75;
	/* font-size: 20px; */
	font-size: calc(var(--index) * 0.72);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
}


