// $fontMali: "Mali";
$fontAdamGorry: "AdamGorry";
// $fontPoppins: "Poppins",sans-serif;
$fontSegoeUI: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text-color: rgb(228, 227, 227);
$title-color: rgb(231, 229, 229);
$text-home-color: #cdc6c3;